<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/Css/Home.css">
</head>
<body>
       <header>
    <nav>
        <div class="wrapper">
           <img class="image" src="../static/imgs/WhatsApp%20Image%202020-12-24%20at%207.50.50%20PM.jpeg">
            <ul class="nav-links">
                <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
                <li><a href="./Home.html">Home</a></li>
                <li>
                    <a href="#" class="desktop-item">Creation</a>
                    
                    <label for="showDrop" class="mobile-item">Creation</label>
                    <ul class="drop-menu">
                        <li><a href="./NormalCreation.html">Normal Appointment</a></li>
                        <li><a href="./UrgentCreation.html">Urgent Appointment</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="desktop-item">Update</a>
                    <label for="showDrop" class="mobile-item">Update</label>
                    <ul class="drop-menu">
                        <li><a href="./update_appointment_date.html">Update Appointment Date</a></li>
                        <li><a href="./update_whole_appointment.html">Update Appointment's Dr</a></li>
                    </ul>
                </li>
                <li><a href="./CancelForm.html">Cancel Appointment</a></li>
            </ul>
            <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
        </div>
    </nav>
    </header>
</body>
</html>