<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Normal appointment</title>
    <link rel="stylesheet" href="../static/css/NormalCreation.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>

    <script src="../static/JS/jquery.js"></script>

    <header>
        <nav>
            <div class="wrapper">
                <img class="image" src="../static/imgs/WhatsApp%20Image%202020-12-24%20at%207.50.50%20PM.jpeg">
                 <ul class="nav-links">
                     <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
                     <li><a href="./Home.html">Home</a></li>
                     <li><a href="./UpdateForm.html">Update Appointment</a></li>
                     <li>
                        <a href="#" class="desktop-item">Creation</a>
                        
                        <label for="showDrop" class="mobile-item">Creation</label>
                        <ul class="drop-menu">
                            <li><a href="./NormalCreation.html">Normal Appointment</a></li>
                            <li><a href="./UrgentCreation.html">Urgent Appointment</a></li>
                        </ul>
                    </li>
                    <li><a href="./CancelForm.html">Cancel Appointment</a></li>
                 </ul>
                 <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
             </div>
        </nav>
    </header>


    <div class="Normal-appointment ">
        <h1>Normal appointment </h1>
    </div>

    <form onsubmit="bookNormalAppointment()">
        <div class="form-1">
            <input type="text" placeholder="  First Name for patient" class="in" id="first-name" required>
            <br>
            <br>
            <input type="text" placeholder="  Last Name for patient" class="in" id="last-name" required>
            <br>
            <br>
            <input type="number" placeholder="  Patient age" class="in" id="patient-age" required>
            <br>
            <br>
            <h6 class="Date">Illness Specification</h6>

            <select id="illness-spec" class="Illness" required>
                <option value="" selected>Choose a secialization</option>
            </select>

            <br>
            <br>
            <h6 class="Date">Doctor Name</h6>

            <select id="Doctors-Name" class="Times" id="text-1" required>
                
            </select>
            <br>
            <br>
            <h6 class="Date">D a t e & T i m e</h6>

            <select id="Date-time" id="text-1" class="Times" required>
                
            </select>
            <br>
            <br>


            <input  type="number" placeholder="  Patient Number" class="in" id="patient-number">
            <br>
            <br>
            <input id="email" type="email" placeholder="  Patient Email" class="in" id="email" required>
            <br>
            <br>

            <label>Male:</label>
            <input id="text-1" class="label-1" type="radio" name="gender" value="Male">


            <label>Female:</label>
            <input id="text-1" type="radio" name="gender" value="Female">
            <br>
            <br>
            <button type="submit" class="submit" id="submit-normal" value="Submit">Submit</button>
        </div>
    </form>

    <script src="../static/JS/jquery.js"></script>
    <script>
        window.onload = function getIllness() {
            $.getJSON("/specialization", function(result) {
                var arr = result["data"];
                console.log(arr);
                var select = document.getElementById("illness-spec");
                for (var i = 0; i < arr.length; i++) {
                    var spec = arr[i];
                    var el = document.createElement("option");
                    el.textContent = spec;
                    el.value = spec;
                    select.appendChild(el);
                }
            });
        }

        $('#illness-spec').on('change', function() {
            $('#Doctors-Name').empty().append('<option value="" selected>Choose a doctor</option>');
            var specialization = $("#illness-spec :selected").val();
            if(specialization.valueOf().trim() !== "") {
                $.getJSON('/doctors', {'option': 0, 'specialization' : specialization}, function(result){
                    var arr = result["data"];
                    console.log(arr);
                    if(arr !== "none" && arr.length) { 
                        var select = document.getElementById("Doctors-Name")
                        for(var i = 0; i < arr.length; i++) {
                            var doctor = arr[i];
                            var el = document.createElement("option");
                            el.textContent = "ID: " + doctor["id"] + " - name: " + doctor["name"];
                            el.value = doctor["id"];
                            select.appendChild(el);
                        }
                    }
                });
            }
        });

        $('#Doctors-Name').on('change',function() {
            $('#Date-time').empty().append('<option value="" selected>Choose an appointment</option>');
            var doctorID = $("#Doctors-Name :selected").val();
            if(doctorID.valueOf().trim() !== "") {
                $.getJSON('/dr_appointments', {option: 0, dr_id: doctorID}, function(result){
                    var arr = result['data'];
                    console.log(arr);
                    if(arr !== "none" && arr.length) {
                        var select = document.getElementById("Date-time");
                        for(var i = 0; i < arr.length; i++) {
                            var appointment = arr[i];
                            var el = document.createElement("option");

                            el.textContent = "ID: " + appointment["appointment_id"] + " - start date: " + appointment["start_date"] + " - end date: " + appointment["end_date"];
                            el.value = appointment["appointment_id"];
                            select.appendChild(el);
                        }
                    }
                });
            }
        });

        function bookNormalAppointment() {
            event.preventDefault();
            var specialization = $("#illness-spec :selected").val();
            var appointment_id = $("#Date-time :selected").val();
            console.log(appointment_id);
            var firstName = $("#first-name").val();
            var lastName = $("#last-name").val();
            var age = $("#patient-age").val();
            var email = $("#email").val();
            var number = $("#patient-number").val();
            //var gender = document.getElementsByName("gender").value;
            var fullName = firstName + " " + lastName;
            console.log(fullName);
            
            var requestParams = {'appointment_id' : appointment_id,
                                'patient_name' : fullName,
                                'patient_age' : age,
                                'patient_email' : email,
                                'patient_phone_number' : number,
                                'specialization' : specialization};

            $.post('/normal_appointment', requestParams, function(response) {
                var status = response['status'];
                console.log(status);
                if(status === 'True') {
                    alert("Appointment booked");
                } else {
                    alert("Couldn't book appointment");
                }
                location.reload();
            });
        }
    </script>


</body>
</html>
