<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Appointment</title>
    <link rel="stylesheet" href="../static/css/Appointments.css">
</head>

<body>
    <header>

        <nav>
            <div class="wrapper">
                <img class="image" src="../static/imgs/WhatsApp%20Image%202020-12-24%20at%207.50.50%20PM.jpeg">
                 <ul class="nav-links">
                     <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
                     <li><a href="./Home.html">Home</a></li>
                     <li><a href="./UpdateForm.html">Update Appointment</a></li>
                     <li>
                        <a href="#" class="desktop-item">Creation</a>
                        
                        <label for="showDrop" class="mobile-item">Creation</label>
                        <ul class="drop-menu">
                            <li><a href="./NormalCreation.html">Normal Appointment</a></li>
                            <li><a href="./UrgentCreation.html">Urgent Appointment</a></li>
                        </ul>
                    </li>
                    <li><a href="./CancelForm.html">Cancel Appointment</a></li>
                 </ul>
                 <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
             </div>
        </nav>
    </header>
    <div class="Update">
        <div class="User-Appointments">
            <h1>Update Appointment</h1>
        </div>
        <form onsubmit="updateAppointment()">
            <div class="form-1" id=appointments>
                <label for="Appointments">Choose an appointment to change:</label>
                <br>
                <br>
                <div class="dropdown">
                    <select id="appointment-num" class="dropbtn" required>
                        <option value="" selected>Choose an appointment</option>
                    </select>
                    <br>
                    <br>

                    <label style="font-size: large;" for="Appointments">Appointment details :</label><br><br>
                    <label style="font-size: medium;">appointment id: </label> <label style="font-size: medium;" id="a-id"></label> <br>
                    <label style="font-size: medium;">appointment specialization: </label> <label style="font-size: medium;" id="a-spec"></label> <br>
                    <label style="font-size: medium;">patient id: </label> <label style="font-size: medium;" id="p-id"></label> <br>
                    <label style="font-size: medium;">patient name: </label> <label style="font-size: medium;" id="p-name"></label> <br>
                    <label style="font-size: medium;">patient age: </label> <label style="font-size: medium;" id="p-age"></label> <br>
                    <label style="font-size: medium;">patient email: </label> <label style="font-size: medium;" id="p-email"></label> <br>
                    <label style="font-size: medium;">patient phone number: </label> <label style="font-size: medium;" id="p-number"></label> <br>
                    
                    <br>
                    
                    <label style="font-size:larger;" for="change-doctor-check">  Change Doctor ? </label>
                    <input disabled type="checkbox" id="change-doctor-check" name="change-doctor-check" value="change">
                    <br>
                    <br>

                    <label for="Appointments">Doctor's name :</label>

                    <select disabled id="Doctors-Name" class="dropbtn" id="text-1" required>

                    </select>
                    <br>
                    <br>
                    <label for="Appointments">Alternative appointments :</label>
                    <select id="other-dates" class="dropbtn" required>

                    </select>
                </div>
                <br>
                <br>
                <button id="update" class="update" type="submit" value="Update">Update</button>
            </div>
        </form>
    </div>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    <script src="../static/scripts/UpdateFromScript.js"></script>
</body>
</html>