<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Urgent appointment</title>
    <link rel="stylesheet" href="../static/css/NormalCreation.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>

    <script src="../static/JS/jquery.js"></script>

    <header>
        <nav>
            <div class="wrapper">
                <img class="image" src="../static/imgs/WhatsApp%20Image%202020-12-24%20at%207.50.50%20PM.jpeg">
                 <ul class="nav-links">
                     <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
                     <li><a href="./Home.html">Home</a></li>
                     <li><a href="./UpdateForm.html">Update Appointment</a></li>
                     <li>
                        <a href="#" class="desktop-item">Creation</a>
                        
                        <label for="showDrop" class="mobile-item">Creation</label>
                        <ul class="drop-menu">
                            <li><a href="./NormalCreation.html">Normal Appointment</a></li>
                            <li><a href="./UrgentCreation.html">Urgent Appointment</a></li>
                        </ul>
                    </li>
                    <li><a href="./CancelForm.html">Cancel Appointment</a></li>
                 </ul>
                 <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
             </div>
        </nav>
    </header>


    <div class="Normal-appointment ">
        <h1>Urgent appointment </h1>
    </div>

    <form onsubmit="urgentCreate()">
        <div class="form-1">
            <input type="text" placeholder="  First Name for patient" class="in" id="first-name" required>
            <br>
            <br>
            <input type="text" placeholder="  Last Name for patient" class="in" id="last-name" required>
            <br>
            <br>
            <input type="number" placeholder="  Patient age" class="in" id="patient-age" required>
            <br>
            <br>
            <h6 class="Date">Illness Specification</h6>

            <select id="illness-spec" class="Illness" required>
                <option value="" selected>Choose a secialization</option>
            </select>
            <br>
            <br>
            <input type="number" placeholder="  Patient Number" class="in" id="patient-number">
            <br>
            <br>
            <input id="email" type="email" placeholder="  Patient Email" class="in" id="email" required>
            <br>
            <br>

            <label>Male:</label>
            <input id="text-1" class="label-1" type="radio" name="gender" value="Male" required>


            <label>Female:</label>
            <input id="text-1" type="radio" name="gender" value="Female" required>
            <br>
            <br>
            <button type="submit" class="submit" id="submit-normal" value="Submit" >Submit</button>
        </div>
    </form>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    <script src= "../static/scripts/UrgentCreationScript.js"></script>


</body>
</html>